.chat-search{
    display: flex;
    flex-direction: column;

    min-height: 165px;
}

.chat-options{
    display: flex;
    justify-content: space-between;
    align-items: center;

    height: 100%;
    padding: 0px 15px;
}

.chat-options > h1 {
    color: var(--dark-font-color);
    font-size: 1.4em;
}

.new-chat-icon{
    font-size: 1em;
}

.chat-search-bar{

    min-height: 46px;
    border: 1px solid red;
}

.chat-categories{
    display: flex;
    gap: 10px;

    min-height: 46px;
    padding: 0 0px 7px 15px;
}

.pill{
    background-color: var(--light-gray-background);
    color: var(--dark-gray-1);
    border-radius: 2em;
    cursor: pointer;
    padding: 10px 12px 0px;
}

.pill:hover{
    background-color: var(--light-gray-1);
}

#green-pill{
    background-color: var(--light-green);
    color: var(--dark-green-font-color);
}

/*


/*Search


.search-bar{
    border: 1px solid red;
    height: 38px;

}


.users-list{
    border: 1px solid pink;
}
    */

.download-banner {
    min-height: 70px;
    border: 1px solid red;
}