.chat-search{
    display: flex;
    flex-direction: column;

    min-height: 165px;
}

/* Chat Options */

.chat-options{
    display: flex;
    justify-content: space-between;
    align-items: center;

    min-height: 65px;
    padding: 8px 15px 0px;
}

.chat-options > h1 {
    color: var(--dark-font-color);
    font-size: 1.4em;
}

.new-chat-icon{
    font-size: 1em;
}

/* Search bar */

.chat-search > .new-message-form {
    padding: 10px 12px 4px;
}

.search-button {
    /*background-color: var(--light-gray-background);
    border: none;*/
    background: none;
    cursor: pointer;
    padding: 0px 0px 0px 15px;
}

#search {
    min-height: 40px;
    border: 1px solid blue;
    background: none;
}

.chat-categories{
    display: flex;
    gap: 10px;

    min-height: 45px;
    padding: 0 0px 5px 15px;
}

.pill{
    background-color: var(--light-gray-background);
    color: var(--dark-gray-1);
    border-radius: 2em;
    cursor: pointer;
    padding: 10px 12px 0px;
}

.pill:hover{
    background-color: var(--light-gray-1);
}

#green-pill{
    background-color: var(--light-green);
    color: var(--dark-green-font-color);
}

.download-banner {
    display: flex;
    justify-content: space-between;
    align-items: center;

    cursor: pointer;
    min-height: 69px;
    padding: 5px 20px 0px 74px;
}

.banner-content {
    display: flex;
    align-items: center;
    gap: 9px;
}

.banner-content > .green-icon{
    font-size: 2.7em;
    padding: 4px;
}

.banner-content > span {
    color: var(--dark-green-font-color);
    font-size: 1.1em;
}