.chat{
    display: flex;
    flex-direction: column;

    width: 100%;
}

.chat-messages-box{
    display: inline-flex;
    flex-direction: column;
    gap: 2px;

    background-image: url('../../assets/background.png');
    height: 100%;
    overflow-y: scroll;
    scrollbar-width: thin;
    scrollbar-color: #C1BFBA #EFEAE2;
    padding: 0px 50px;
    width: inherit;
}
.chat-message-input-box{
    display: flex;

    background-color: var(--light-gray-background);
    font-size: 1em;
    min-height: 66px;
}


@media screen and (max-width: 1000px) {
    .chat-messages-box{
        padding: 0px 5vw;
    }
}

@media screen and (max-width: 768px) {
    .mobile-hide{
        display: none;
    }
}

@media screen and (max-width: 425px) {
    .chat-messages-box{
        background-image: url('../../assets/background-mobile.png');
        background-size: 100% auto;
    }
}