
.chat-header-box {
    display: flex;

    /*background-color: var(--light-gray-background);*/   
    
    height: 66px;
    min-height: 66px;
}

/* MESSAGESLIST CSS */
.chat-messages-box{
    display: inline-flex;
    flex-direction: column;

    /*background-image: url('../../assets/background.png');*/
    height: 100%;
    overflow-y: scroll;
    scrollbar-width: thin;
    scrollbar-color: var(--light-gray-1) #EFEAE2;
    /*padding: 0px 50px;*/
}
.chat-message-input-box{
    display: flex;

    background-color: var(--light-gray-background);
    font-size: 1em;
    min-height: 66px;
}