/**/
.screen{
    display: flex;
    justify-content: left;
    height: 100vh;
}

.sidebar{
    /*background-color: aqua;*/
    /*border: 1px solid aqua;*/
    min-width: 70px;
}

.chat-nav{
    display: flex;
    flex-direction: column;
    justify-content: baseline;

    /*background-color: var(--white);*/
    min-width: 460px;
}

.chat{
    display: flex;
    flex-direction: column;

    width: 100%;
    border: 1px solid blue;
}


/* Font colors */
.lightest-gray-font{
    color: var(--light-gray-1);
}


.light-gray-font{
    color: var(--medium-gray-1);
}

.medium-gray-font{
    color: var(--dark-gray-1);
}

.dark-gray-font{
    color: var(--dark-gray-2);
}

.green {
    background-color: var(--light-green);
}


/* Icons */
.button-icon{
    display: flex;
    align-items: center;

    background: none;
    font-size: 2em;
    border: none;
}

.button-icon:hover{
    cursor: pointer;
}

.chat-icons{
    display: flex;
    justify-content: space-between;

    font-size: .8em;
    min-width: 88px;
    padding-right: 5px;
}

.green-icon {
    background-color: var(--whatsapp-green);
    color: var(--white);
    
}
