/**/
.screen{
    display: flex;
    justify-content: left;

    background-color: var(--light-gray-background);
    
    min-height: 100vh, 100dvh;
}

/* Font colors */
.lightest-gray-font{
    color: var(--light-gray-1);
}


.light-gray-font{
    color: var(--medium-gray-1);
}

.medium-gray-font{
    color: var(--dark-gray-1);
}

.dark-gray-font{
    color: var(--dark-gray-2);
}

.green {
    background-color: var(--light-green);
}


/* Icons */
.button-icon{
    display: flex;
    align-items: center;

    background: none;
    font-size: 2em;
    border: none;
}

.button-icon:hover{
    cursor: pointer;
}

.chat-icons{
    display: flex;
    justify-content: space-between;

    font-size: .8em;
    min-width: min(88px,8vw);
    padding-right: 5px;
}

.green-icon {
    background-color: var(--whatsapp-green);
    color: var(--white);
    
}

@media screen and (max-width: 768px) {
    .chat-icons{
        justify-content: flex-end;
        gap: 20px;
    }
}