.contact-box {
    display: flex;
    gap: 1em;

    height: 100%;
    padding: .5em 0 0 1.1em;
    width: 100%;
}


.contact-avatar{
    background-color: var(--white);
    border-radius: 50%;
    height: var(--small-user-avatar);
    aspect-ratio: 1;
}

.contact-picture{
    height: inherit;
    aspect-ratio: inherit;
    border-radius: inherit;
}

.contact-avatar-icon{
    background-color: var(--white);
    border-radius: 50%;
    cursor: pointer;
    font-size: var(--small-user-avatar);
}

.contact-info{
    display: flex;
    flex-direction: column;
    gap: .3em;

    padding-top: .2em;
    min-height: 100%;
    overflow: hidden;
    width: 100%;
}

.contact-info-top{
    display: flex;
    justify-content: space-between;
}

.contact-info-text{
    color: var(--gray-font-color);
    font-size: var(--small-font-size);
    max-height: 1.5em;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.contact-info-hour{
    color: var(--gray-font-color);
    font-size: var(--smallest-font-size);
    padding-top: .4em;
}

@media screen and (max-width: 380px) {
    .contact-info-text{
        display: none;
    }
}