.contact-avatar{
    /*Colors*/
    background-color: white;
    /*Other*/
    height: 2.8em;
    width: 2.8em;
    border-radius: 50%;
}

.contact-avatar-icon{
    font-size: 2.8em;
}

.contact-info{
    /*Display*/
    display: flex;
    flex-direction: column;
    gap: 4px;
    width: 100%;
}

.contact-info-top{
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
}

.contact-info-text{
    color: var(--gray-font-color);
    font-size: 0.8em;
}