.chat-header-box {
    display: flex;
    align-items: center;

    background-color: var(--light-gray-background);   
    min-height: 66px;
}

.chat-header-box .go-back-arrow{
    font-size: 1.5em;
    padding: 5px;
    display: none;
}

.contact-icons{
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 0px 20px 0px 38px;
    min-width: min(17vw, 220px);
}


.video-dropdown{
    display: flex;
    justify-content: center;
    gap: 9px;
    align-items: center;

    background: none;
    border: none;
}

.video-dropdown:hover{
    cursor: pointer;
}

.video-icon{
    font-size: 1.6em;
}

.arrow-down-icon{
    font-size: 0.7em;
}

.chat-header-box .contact-info{
    width: min(100%,20vw);
}

@media screen and (max-width: 1200px) {
    .contact-icons{
        padding-left: 0;
    }
}

@media screen and (max-width: 768px) {
    .chat-header-box .go-back-arrow{
        display: block;
    }
}