.contact-icons{
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 0px 20px 0px 38px;
    min-width: 220px;
}

.video-dropdown{
    display: flex;
    justify-content: center;
    gap: 9px;
    align-items: center;

    background: none;
    border: none;
}

.video-dropdown:hover{
    cursor: pointer;
}

.video-icon{
    font-size: 1.6em;
}
.arrow-down-icon{
    font-size: 0.7em;
}