.chat-header-box {
    display: flex;
    align-items: center;

    background-color: var(--light-gray-background);   
    min-height: 66px;
}

.chat-header-box .go-back-arrow{
    font-size: 1.5em;
    padding: 5px;
    display: none;
}

.contact-icons{
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 0px 20px 0px 38px;
    min-width: min(17vw, 220px);
}


.video-dropdown{
    display: flex;
    justify-content: center;
    gap: 9px;
    align-items: center;

    background: none;
    border: none;
}

.video-dropdown:hover{
    cursor: pointer;
}

.video-icon{
    font-size: 1.6em;
}

.arrow-down-icon{
    font-size: 0.7em;
}

.chat-header-box .contact-info{
    width: min(100%,20vw);
}

@media screen and (max-width: 1200px) {
    .contact-icons{
        padding-left: 0;
    }
}

@media screen and (max-width: 800px) {
    .chat-header-box .contact-box{
        padding-left: 5px;
    }

    .chat-header-box .contact-info{
        width: 100%;
    }

    .chat-header-box .contact-icons{
        padding: 0;
        min-width: max(14vw,100px);
    }

    .chat-header-box .chat-icons{
        gap: 5px
    }
}

@media screen and (max-width: 768px) {
    .chat-header-box .go-back-arrow{
        display: flex;
    }
    .chat-header-box .contact-box{
        padding-left: 0px;
    }
}

@media screen and (max-width: 400px) {
    .chat-header-box .contact-box{
        width: calc(100vw - 134px);
    }
    .chat-header-box .contact-info-text{
        display: none;
    }

    .chat-header-box .contact-info{
        justify-content: center;
        padding-bottom: 10px;
    }

}
