.sidebar{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    background-color: var(--light-gray-background);
    padding: 10px 0px;
    min-width: min(5vw, 70px);
}

.space-bar-icons{
    display: flex;
    flex-direction: column;
    gap: 14px;
    align-items: center;

    font-size: .8em;
}

.space-bar-icons .button-icon {
    border-radius: 50%;
    padding: 7px;
}

.current-screen{
    background-color: #D9DBDF;
}

/* Mobile nav bar CSS */
.chat-nav .sidebar{
    display: none;
}

.mobile-show{
    display: none;
}

@media screen and (max-width: 1000px) {
    .sidebar{
        min-width: 50px;
    }
}

@media screen and (max-width: 768px) {
    .sidebar{
        display: none;
    }

    .chat-nav .sidebar{
        display: flex;
    }

    .chat-nav .sidebar > .top{
        display: flex;
        flex-direction: row;
    }

    .mobile-hide{
        display: none;
    }

    .mobile-show{
        display: flex;
        flex-direction: column;
    }

    .chat-nav .nav-button{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}