.sidebar{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    background-color: var(--light-gray-background);
    padding: 10px 0px;
    min-width: min(5vw, 70px);
}

.space-bar-icons{
    display: flex;
    flex-direction: column;
    gap: 14px;
    align-items: center;

    font-size: .8em;
}

.space-bar-icons .button-icon {
    border-radius: 50%;
    padding: 7px;
}

.current-screen{
    background-color: #D9DBDF;
}

/* Mobile nav bar CSS */
.chat-nav .sidebar{
    display: none;
}

@media screen and (max-width: 1000px) {
    .sidebar{
        min-width: 50px;
    }
}

@media screen and (max-width: 768px) {
    .sidebar{
        display: none;
    }

    .chat-nav .sidebar{
        display: flex;
    }

    .chat-nav .sidebar > .top{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 0px;

        min-width: 70vw;
        padding: 0px 20px;
    }

    .space-bar-icons.mobile-hide{
        display: none;
    }

    .mobile-show{
        flex-direction: column;
    }

    .chat-nav .nav-button{
        display: flex;
        flex-direction: column;
        align-items: center;
        min-width: 80px;
    }
}


@media screen and (max-width: 425px) {
    .chat-nav .sidebar > .top{
        min-width: 320px;
        padding: 0px;
    }

    .chat-nav .sidebar{
        background-color: var(--white);
        font-weight: 600;
    }

    .button-icon.current-screen{
        background-color: var(--light-green);
        color: var(--dark-green-font-color);
    }

    .nav-button > .button-icon{
        border-radius: 20px;
        justify-content: center;
        min-height: 30px;
        min-width: 60px;
        padding: 0;
    }

    .nav-button{
        gap: 5px;
    }

}