/*Messages to the left of the form*/
.special-message-icons {
    display: flex;
    justify-content: space-between;

    min-width: 110px;
    padding-left: 25px;
}


/*Form*/
.new-message-form {
    display: flex;
    gap: 15px;

    padding: 9px 25px 10px 15px;
    width: 100%;
}

.new-message-form > input{
    background-color: var(--white);
    color: var(--dark-gray-2);

    border-radius: 8px;
    border: none;
    font-size: inherit;
    padding: 0 16px;
    width: 100%;
}

input:focus {
    outline: none;
}

input:focus + .message-input-label{
    display: none;
}

.message-input-label{
    color: var(--dark-gray-1);

    position: absolute;
    margin: 14px 15px 0;

    cursor: text;
}

.send-icon{
    transform: rotate(43deg) scale(.9) translatex(-2px);
}

@media screen and (max-width: 380px) {
    .message-input-label{
        display: none;
    }

    .special-message-icons{
        padding-left: 5px;
        min-width: 80px;
    }

    .new-message-form{
        padding-right: 5px;
    }
}
