/*Messages to the left of the form*/
.special-message-icons {
    display: flex;
    justify-content: space-between;

    min-width: 110px;
    padding-left: 25px;
}


/*Form*/
.new-message-form {
    display: flex;
    gap: 15px;

    padding: 9px 25px 10px 15px;
    width: 100%;
}

.new-message-form > input{
    background-color: var(--white);
    color: var(--dark-gray-2);

    border-radius: 8px;
    border: none;
    font-size: inherit;
    padding: 0 16px;
    width: 100%;
}

input:focus {
    outline: none;
    background-color: var(--white);
}

input:focus + .message-input-label{
    display: none;
}

.message-input-label{
    color: var(--dark-gray-1);

    position: absolute;
    margin: 14px 15px 0;

    cursor: text;
}

.send-icon{
    transform: rotate(43deg) scale(.9) translatex(-2px);
}

@media screen and (max-width: 430px) {
    .small-mobile-hide{
        display: none;
    }

    .chat-message-input-box{
        background-image: url('../../assets/background-mobile.png');
        background-size: 100% auto;
        align-items: center;
        padding: 0 10px;
    }

    .new-message-form{
        padding: 0;
        gap: 5px;
    }

    .special-message-icons{
        justify-content: flex-start;
        align-items: center;
        padding-left: 10px;
        background-color: var(--white);
        border-radius: 26px;
        margin-right: -40px;
        min-width: 80px;
        min-height: 45px;
    }

    .new-message-form > input{
        min-height: 45px;
        border-radius: 26px;
    }

    .mobile-green-button{
        background-color: var(--medium-green-font);
        border-radius: 50%;
        justify-content: center;
        min-width: 42px;
    }
    .mobile-green-button > .medium-gray-font{
        color: var(--white);
        font-size: .8em;
    }
}

