.message-input-box{
    /*Colors*/
    background-color: var(--light-gray-background);

    /*Display*/
    display: flex;
    justify-content: left;

    /*Other*/
    font-size: 1em;
    padding: 0.6em 0em 0.7em 1.7em;
}

/*Form*/

.message-form{
    /*Display*/
    display: flex;
    justify-content: left;

    position: relative;

    /*Other*/
    height: 100%;
    padding-left: 1.2em;
    padding-right: 1em;
    width: 52.7em;
}

.message-input-label{
    /*Color*/
    color: var(--dark-gray-1);

    /*Display*/
    left: 2.2em;
    position: absolute;
    top: 30%;

    /*Other*/
    cursor: text;
    font-size: inherit;
}

input{
    /*Colors*/
    background-color: var(--white);
    color: var(--dark-gray-2);

    /*Other*/
    border: none;
    border-radius: 9px;
    font-size: inherit;
    height: 2.7em;
    padding-left: 0.9em;
    width: 100%;
}

input:focus {
    outline: none;
}

input:focus + .message-input-label{
    display: none;
}




/* Icons */

.button-icon{
    background: none;
    border: none;
    font-size: 2em;

    display: flex;
    align-items: center;
}

.button-icon:hover{
    cursor: pointer;
}

.icon-1, .icon-2{
    font-size: inherit;
}

.send-icon{
    /*Display*/
    position: absolute;
    right: -29px;

    /*Other*/
    font-size: 2em;
    padding-left: 0.5em;
    transform: rotate(43deg);
}

.left-icons{
    /*Display*/
    display: flex;
    gap: 1em;
}

.microphone-icon{
    font-size: 0.9em;
}
