/* MESSAGESLIST CSS */
.messages-list{
    background-image: url('../../assets/background.png');
    display: inline-flex;
    flex-direction: column;
    align-items: baseline;
    height: 81%;
    width: 100%;
    padding: 0px 50px;
}