/* MESSAGE CSS */


.message-bubble {
    display: flex;
}

.sender-me {
    flex-direction: row-reverse;
}

.first-message{
    padding-top: 10px;
}

.first-message-icon {
    align-self: flex-start;
    color: var(--white);
    font-size: 32px;
    margin-top: -12px;
    margin-right: -16px;
    margin-left: -16px;
}

.sender-me > .first-message-icon {
    color: var(--light-green);
}

.message-content{
    display: flex;
    flex-direction: column;

    background-color: var(--white);
    border-radius: 6px;
    box-shadow: 0px 2.5px 0.7px -1px #D5D4D0;
    max-width: 545px;
    min-width: 70px;
    padding: 7px 7px 5px 9px;
}

.sender-me > .message-content {
    background-color: var(--light-green);
}


.text-message{
    color: var(--dark-font-color);
    font-size: 1em;
    padding-right: 6px;
    vertical-align: bottom;

    overflow-wrap: break-word;
    border: 1px solid red;
}

.text-data{
    display: flex;
    flex-direction: row;
    align-items: center;

    font-size: .7em;
    max-height: 1em;
    border: 1px solid blue;
}

.sender-me > .message-content > .text-data {
    justify-content: end;
}

.text-hour{
    color: #667781;
    padding-right: 3px;
}

.icon-viewed {
    color: var(--icon-viewed);
}

.message-icon {
    color: var(--icon-gray);
    font-size: 2em;
    display: none;
}

.sender-me > .message-content > .text-data > .message-icon {
    display: block;
}